button:hover {
    letter-spacing: 1.25px;
}

button:active {
    letter-spacing: 1.1875px;
    transform: translate(0, 1.25px);
    box-shadow: 0 2.5px 12.5px rgba(0, 0, 0, 0.3);
}

.container button:active {
    letter-spacing: 0.625px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:
        url("../../imgs/login-background.jpeg");
    background-size: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
}

.formContainer {
    width: fit-content;
    padding: 62.5px;
    padding-bottom: 25px;
    margin: 62.5px;
    border-radius: 12.5px;
    height: fit-content;
    background: linear-gradient(rgb(211, 211, 211),rgb(219, 219, 219));
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header {
    text-align: left;
    margin-bottom: 40px;
    font-size: 2.25rem;
    color: #1a73e8;
}

.formField {
    display: flex;
    flex-direction: column;
    height: 93.75px;
    margin-bottom: 3.75px;
}

.formField label {
    text-align: left;
    margin-bottom: 6.25px;
    color: rgb(85, 85, 85);
    font-size: 1.125rem;
}

.formInput {
    width: 400px;
    height: 37.5px;
    border-radius: 6.25px;
    padding: 0 12.5px;
    border: 1.25px solid silver;
    transition: all 0.25s ease-in;
}

.uncompleted {
    width: 400px;
    height: 37.5px;
    border-radius: 6.25px;
    padding: 0 12.5px;
    border: 1.25px solid red;
    transition: all 0.25s ease-in;
}

.formInput:focus,
.uncompleted:focus {
    outline: none;
    line-height: 37.5px;
    height: 37.5px;
    border: 1.25px solid #1a73e8;
}

.formField span {
    text-align: left;
    margin-top: 6.25px;
    width: fit-content;
    font-size: 0.875rem;
    color: red;
    line-height: 12.5px;
    padding: 2.5px 3.75px;
    border-radius: 3.75px;
    background: rgba(255, 0, 0, 0.175);
}

.formButtones {
    position: relative;
    top: -10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

.formButtones button {
    font-size: 62.5px;
    font-family: sans-serif;
    padding: 12.5px 25px;
    border-radius: 12.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 3.75px 12.5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.1875s, transform 0.1875s, letter-spacing 0.1875s,
        background 0.1875s;
    width: 400px;
    border: 1.25px solid black;
    letter-spacing: 0.875px;
    background: #185cb6;
    padding: 12.5px 25px;
    color: #fff;
    border-radius: 6.25px;
    border: none;
    font-size: 1.09375rem;
    font-weight: 500;
    transition: all 0.125s ease-in;
    cursor: pointer;
}

.formButtones button:nth-child(1):hover {
    background: #13488f;
}

.formButtones button:nth-child(1):active {
    background: #11407d;
}

.formButtones button:nth-child(2) {
    background: #185cb6
        url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/882px-Google_%22G%22_Logo.svg.png")
        no-repeat;
    background-size: 25px;
    background-position: 93.75px;
    padding-left: 62.5px;
}

.formButtones button:nth-child(2):hover {
    background: #13488f
        url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/882px-Google_%22G%22_Logo.svg.png")
        no-repeat;
    background-size: 25px;
    background-position: 93.75px;
    padding-left: 62.5px;
}

.formButtones button:nth-child(2):active {
    background: #11407d
        url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/882px-Google_%22G%22_Logo.svg.png")
        no-repeat;
    background-size: 25px;
    background-position: 96.25px;
    padding-left: 62.5px;
}
